<?xml version="1.0"?>

<model>
    <name>apriltag_2</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    
    <author>
        <name>zezinho_2</name>
        <email>zezinho_2@pif.io</email>
    </author>
    
    <description>Fiducial marker developed by the April Laboratories (https://april.eecs.umich.edu/wiki/index.php/AprilTags)</description>
</model>